
.hover-card {
    --shadow-color: rgba(2, 4, 38, 0.3);
    --shadow: 0 1.5rem 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color);
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    transition: box-shadow .3s ease-in-out;

    .image-cover{
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .top-drop {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 80%, rgba(0,0,0,0));
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }

    .over-drop{
        display: grid;
        grid-template-rows: auto 1fr auto auto;
        row-gap: 2rem;
        padding: 2rem 1rem;
        z-index: 2;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0.6));
        transition: background-image .5s ease-in-out;
        
        .title {
            color: var(--clr-white);
            font-size: 2.5rem;
            font-weight: 500;
            transition: all .5s ease-in-out;
        }
        
        .spacer {
            min-height: 10rem;
        }
        
        .text-body {
            font-size: 1.125rem;
            color: var(--clr-dark-800);
            opacity: 0;
            transform: translateY(4rem);
            transition: all .65s ease-in-out;
        }
        
        .footer {
            opacity: 0;
            transform: translateY(4rem);
            transition: all .6s ease-in-out;
            transition-delay: .1s;
        }
    }
    
    &:hover {
        box-shadow: var(--shadow);

        .top-drop {
            opacity: 1;
        }

        .over-drop {
            .title {
                font-size: 1.75rem;
            }

            .text-body {
                color: var(--clr-dark-50);
                transform: translateY(0);
                opacity: 1;
            }
            
            .footer {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}